<form action="<%=@action%>" method="post">
  <%if @method%>
    <input type="hidden" name="_method" value="<%=@method%>"/>
  <%end%>
  <ul>
  <% if @action == '/contacts' %>
    <li>
      <label>Name</label>
      <input size="30" name="contact[name]" type="text"/>
    </li>
    <li>
      <label>Phone</label>
      <input type="text" name="contact[phone]"  />
    </li>
    <li>
      <label>Address</label>
      <input size="60" type="text" name="contact[address]" />
    </li>
    <input type="hidden" name="contact[created_at]" value="<%= get_time %>">
    <li>
      <label>Note</label>
      <textarea cols="40" rows="10" name="contact[note]"></textarea>
    </li>
  <% else %>
    <li>
      <label>Name</label>
      <input size="30" name="contact[name]" type="text" value="<%=@contact["name"]%>"/>
    </li>
    <li>
      <label>Phone</label>
      <input type="text" name="contact[phone]"  value="<%=@contact["phone"]%>"/>
    </li>
    <li>
      <label>Address</label>
      <input size="60" type="text" name="contact[address]" value="<%=@contact["address"]%>"/>
    </li>
    <li>
      <label>Note</label>
      <textarea cols="40" rows="10" name="contact[note]"><%=@contact["note"]%></textarea>
    </li>
  <% end %>
  </ul>
  <input type="submit" value="Submit"/>
</form>
